//Nav Setup

nav{
    max-height: 0px;
    display: block;
    width: 100%;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.show header nav {
    max-height: 60;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.slidedown header nav{            
    max-height: 300px;
    width: 100%;
}

//Header setup

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}

.hamburger-button{
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.hamburger-button div{
    width: 35px;
    height: 6px;
    background-color: $darkBlue;
    margin: 5px 0;
    border-radius: 3px;
}

.search-bar{
    width: 100%;
    position: relative;
}

.search-bar input{
    width: 100%;
    padding: 8px;
    height: 36px;
    font-family: $fontCondensed;
    background-color: $darkGrey;
}

.search-bar img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.ul-nav-bar li{
    background-color: $lightBlue;
    color: white;
    border: 1px solid $darkBlue;
    text-align: center;
    padding: 7px;
}

.ul-nav-bar a{
    color: inherit;
    font-family: $fontCondensed;
    font-size: 18px;
    width: 100vw;
    height: 100%;
}

.ul-nav-bar li:hover, :focus{
    color: $lightBlue;
    background-color: white;
}

.social-nav{
    display: flex;
    border: 1px solid $darkBlue;
    width: 100%;
    height: 36px;
    justify-content: center;
}

.social-nav a{
    color: $lightBlue;
    font-size: 22px;
    margin: 5px 10px;
    -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
}

.social-nav a:hover{
    color: $darkGrey;
}

#logo-full{
    display: none;
}

#logo-small{
    width: 55px;
    height: 35px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}