//all the variables are here

//colours
$darkBlue: #005991;
$lightBlue: #1a71a9;
$darkerGrey: #bcbcbc;
$darkGrey: #dedede;        //search bar
$lightGrey: #e9e9e9;       //sidebar alternating evens
$evenLighterGrey: #f9f9f9; //sidebar alternating odds + header + cuisines
$white: #ffffff; 

//media query breakpoints
$mobileLarge: 330px;    //nav turns from icon to logo, cuisines list still 2 columns
$tabletSmall: 500px;    //search bar appears and nav is no longer in dropdown, cuisines list is now 3 columns
$tabletLarge: 670px;    //3 images at top pop into grid
$desktop: 770px;        //search bar in nav, latest recipes and cuisines pops to side, cuisines list one column
$maxWidth: 1030px;      //maximum width of site

//fonts
$fontCondensed: 'Roboto Condensed', sans-serif; //nav + headings
$fontRegular: 'Roboto', sans-serif;             //body

//font weights
$navFont: 700;
$headingsFont: 400;
$bodyFont: 300;