.wrapper{
    margin: 10px;
}

.lead-articles{
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: 1fr;
}

.image-article{
    position: relative;
}

.image-article img{
    object-fit: cover;
    height: 235px;
}

.image-article h2{
    font-family: $fontCondensed;
    font-weight: $headingsFont;
    text-transform: uppercase;
    color: $white;
    margin: 0;
    line-height: 0;
    padding: 25px 0px 25px 10px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.section-latest-recipes{
    background-color: $white;
}

h2{
    font-family: $fontCondensed;
    font-weight: $headingsFont;
    text-transform: uppercase;
    color: $white;
    background-color: $lightBlue;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 10px;
}

.section-latest-recipes img{
    width: 70px;
    height: 70px;
    border-top: solid 2px $lightBlue;
    border-right: solid 1px $lightBlue;
    border-bottom: solid 1px $lightBlue;
    border-left: solid 2px $lightBlue;
    margin-right: 10px;
}

.section-latest-recipes li{
    font-family: $fontCondensed;
    font-weight: $headingsFont;
    text-transform: uppercase;
    font-size: 1.1em;
}

.list-item{
    display: flex;
    padding: 10px;
}

.list-item:nth-child(even){
    background-color: $lightGrey;
}

.list-item:nth-child(odd){
    background-color: $evenLighterGrey;
}

.list-item p{
    margin-top: 25px;
}

.section-cuisines{
    background-color: $white;
}

//i'm losing my mind over this i hate it
.ul-cuisines{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-bottom: 10px;
    justify-content: left;
}

.section-cuisines li{
    padding: 6px 0px 6px 15px;
    width: 50%;
}

.section-cuisines a{
    font-family: $fontCondensed; //i feel like this should be body font but it's thinner and bolded than regular so idk
    font-weight: $headingsFont;
    color: black;
}

.article-recipes{
    background-color: $white;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.article-recipes h4{
    font-family: $fontCondensed;
    font-weight: $headingsFont;
    color: $lightBlue;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.article-recipes p{
    font-family: $fontCondensed;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-recipes img{
    padding-top: 20px;
}

.read-more-button p{
    font-family: $fontCondensed;
    font-weight: $navFont;
    text-transform: uppercase;
    color: $white;
    background-color: $lightBlue;
    padding: 8px 5px 8px 5px;
    display: flex;
    flex-direction: row-reverse;
    width: 110px;
    justify-content: center;
    margin-left: auto;
}

.older-posts-button img{
    height: auto;
    width: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.arrow{
    background-color: $lightBlue;
    font-weight: $navFont;
    font-size: 0.85em;
    color: $white;
    line-height: 1;
    padding: 3px 9.5px 0px 7.5px;
    margin: 30px 5px 30px 5px;
    border-radius: 15px;
}

@media (min-width: $tabletSmall){
    .section-cuisines li{
        width: 25%;
        margin-right: 10px;
        min-width: 130px;
    }
}

@media (min-width: $tabletLarge){
    .lead-articles{
        display: grid;
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(2);
        grid-template-areas:
            "mussel mussel"
            "salad  pancake";
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(4);
        grid-template-areas: 
            "articles   articles"
            "sidebar    sidebar"
            "recipes    recipes"
            "button     button";
        grid-gap: 5px;
    }

    .mussel{
        grid-area: mussel;
    }

    .salad{
        grid-area: salad;
    }

    .pancake{
        grid-area: pancake;
    }

    .lead-articles{
        grid-area: articles;
    }

    .sidebar{
        grid-area: sidebar;
    }

    .section-recipes{
        grid-area: recipes;
    }

    .older-posts-button{
        grid-area: button;
    }
}

@media (min-width: $desktop){
    .wrapper{
        max-width: 1030px;
        margin: auto;
        padding: 10px;

        display: grid;
        grid-template-columns: 1fr 230px;
        grid-template-rows: repeat(4);
        grid-template-areas: 
            "articles   sidebar"
            "recipes    sidebar"
            "recipes    sidebar"
            "button     sidebar";
        grid-gap: 10px;
    }

    .section-latest-recipes h2{
        margin-top: 0;
    }

    .section-latest-recipes{
        margin-bottom: 10px;
    }

    .section-cuisines li{
        width: 100%;
        margin-right: 10px;
    }

    .article-recipes{
        margin-top: 0;
    }

    .list-item p{
        margin-top: 15px;
        margin-bottom: 0;
    }
}