.wrapper{
    margin: 10px;
}

.lead-articles{
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: 1fr;
}

.image-article{
    position: relative;
}

.image-article img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-article h2{
    font-family: $fontCondensed;
    font-weight: $headingsFont;
    text-transform: uppercase;
    color: $white;
    margin: 0;
    line-height: 0;
    padding: 25px 0px 25px 10px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.section-latest-recipes{
    background-color: $white;
}

h2{
    font-family: $fontCondensed;
    font-weight: $headingsFont;
    text-transform: uppercase;
    color: $white;
    background-color: $lightBlue;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
}

.section-latest-recipes img{
    width: 70px;
    border-style: solid;
    border: 2px 1px;
    border-color: $lightBlue;
}