.wrapper{
    margin: 10px;
}

.image-article h2{
    margin: 0;
    line-height: 0;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}